<style>
      /* Navigation Bar */
      #left-navbar {
        position: fixed;
      }


      #left-navbar a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }

      #left-navbar a:hover {
        color: #007bff;
      }

    </style>